#team_list
  %h1 小组信息列表
  %div
    - @teams.each do |team|
      %span
        小组名称:
        = team.team_name
        = team.id
      %h4.list_action
        = link_to '查看信息',"/companies/#{@company_id}/teams/#{team.id}", :class => "show"
        = link_to '修改信息',"/companies/#{@company_id}/teams/#{team.id}/edit", :method => :get, :class => "update"
        = link_to '删除',"/companies/#{@company_id}/teams/#{team.id}", :method => :delete, :class => "delete"
  = link_to '添加信息', "/companies/#{@company_id}/teams/new", :method => :get