#team_list
  %h1 小组信息列表
  %div
    - @teams.each do |team|
      %span
        小组名称:
        = team.name
        = team.id
      %h4.list_action
        %p
          = button_to '查看信息',"/companies/#{@company_id}/teams/#{team.id}", :method => :get
        %tr
          = button_to '修改信息',"/companies/#{@company_id}/teams/#{team.id}/edit", :method => :get
        %hd
          = button_to '删除',"/companies/#{@company_id}/teams/#{team.id}", :confirm => 'Are you sure?', :method => :delete
= button_to '添加信息', "/companies/#{@company_id}/teams/new", :method => :get