#continue
  = form_for @user, :method => :put do |f|
    .field
      = f.label '手机号'
      = f.text_field 'tel'
    .field
      = f.label '地址'
      = f.text_field 'address'
    .field
      = f.submit 'Next'
