#member_list
  %h1 职员信息列表
  %div
    - @members.each do |member|
      %span
        姓名:
        = member.name
        身份证号:
        = member.shen_fen_zheng
        手机号:
        = member.tel
        = member.id
        所属小组:
        = member.teams
      %h4.list_action
        %p
          = button_to '查看信息', "/companies/#{@company_id}/members/#{member.id}", :method => :get
        %tr
          = button_to '修改信息', "/companies/#{@company_id}/members/#{member.id}/edit", :method => :get
        %td
          = button_to '删除', "/companies/#{@company_id}/members/#{member.id}", :confirm => 'Are you sure?', :method => :delete
= button_to '添加信息', "/companies/#{@company_id}/members/new", :method => :get